@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Oldenburg&display=swap');

// 

$primary-font: 'Oldenburg', cursive;
$secondary-font: 'Monoton', cursive;

$desktop-size: 600px;

// color palette - these colors will be the color swatches of the Colors section

$color-1: #8d3e14; 
$color-2: #bb9430; 
$color-3: #86001e; 
$color-4: #58667a; 
$color-5: rgb(58, 22, 22); 
$color-6: #c0c0c0; 
$metal-color: rgba(88,102,121,1);
$metal-glare: rgba(130,140,155,1);

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

body{
     background-image: url("/images/AdobeStock_441304415\ \(1\).jpeg");
    
}

h1, h2, h3 {
     font-family: $secondary-font;
     font-weight: normal;
     font-size: xx-large;
     color: $color-2;

}

 p {
     font-family: $primary-font;
     color: black;
     background-color: rgba(88, 102, 121, 1);
     padding: 2%;
     border-radius: 2%;
     border: 1px ridge #000;
     -webkit-border-radius: 2%;
     -moz-border-radius: 2%;
     -ms-border-radius: 2%;
     -o-border-radius: 2%;
     box-shadow: inset 0 0 5px 0 #fff;
     background: rgb(255,255,255);
     background-size: 200% 200%;
     background-image: linear-gradient(-45deg, $metal-glare 0%, $metal-color 2%, $metal-color 40%, $metal-glare 50%, $metal-color 60%, $metal-color 98%, $metal-glare 100%);
     -webkit-animation: MetalShine 20s infinite alternate-reverse;
     animation: MetalShine 20s infinite alternate-reverse;
}
@keyframes spin {
     0% {
       transform: rotate(0deg);
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
}
     100% {
       transform: rotate(360deg);
       -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
       -ms-transform: rotate(360deg);
       -o-transform: rotate(360deg);
}
   }

@keyframes spin-counter {
     0% {
     transform: rotate(-5deg);
     -webkit-transform: rotate(-50deg);
     -moz-transform: rotate(-50deg);
     -ms-transform: rotate(-50deg);
     -o-transform: rotate(-50deg);
}
     100% {
     transform: rotate(-355deg);
     -webkit-transform: rotate(-355deg);
     -moz-transform: rotate(-355deg);
     -ms-transform: rotate(-355deg);
     -o-transform: rotate(-355deg);
}
}
header{
     text-align: right;
     &::before {
          content: "";
          background-image: url(./images/gear.svg);
          height: 50px;
          width: 50px;
          position: absolute;
          zoom: 2;
          top: 10px;
          left: 10px;
          z-index: -1;
          background-color: transparent;
          background-repeat: no-repeat;
          animation: spin-counter linear 10s infinite;
          -webkit-animation: spin-counter linear 10s infinite;
     }
 
     &::after {
          content: "";
          background-image: url(./images/gear_silver.svg);
          height: 50px;
          width: 50px;
          position: absolute;
          zoom: 1.5;
          top: 80px;
          left: 10px;
          z-index: -1;
          background-color: transparent;
          background-repeat: no-repeat;
          animation: spin linear 10s infinite;
          -webkit-animation: spin linear 10s infinite;
     }     
}
@keyframes MetalShine {
     from {
          background-position: 0 50%;
     }
     50% {
          background-position: -100% 50%;
     }
     to {
          background-position: -125% 50%;
     }
} 

li {
     list-style-type: none;
   color: $color-1;  
}
a{
     color: $color-2;
}
footer{
     text-align: center;
}

@media only screen and (min-width: $desktop-size) {
body {
     margin: auto;
     max-width: 80%;
     background-image: url("/images/parchment.jpg");
}
@supports (display: grid) {

     .page-wrapper{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 50px;
          align-items: center;
          background: linear-gradient(5deg, $color-5 10%, black 104%);
        border-radius: 2%;
        border: #bb9430 double;
        padding: 2%;
     }
     .intro {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(3, 1fr);
          height: auto;
          grid-column: 1/5;
          grid-row: 1/2;
          position: relative;
}

header {
     grid-column: 2/4;
     grid-row: 1/2;
     background-image: url("/images/AdobeStock_441304415\ \(1\).jpeg");
     padding: 2%;
     text-align: right;
     border-radius: 2%;
     border: #bb9430 double;
     border-bottom: none;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
     position: relative;
     &::before {
          content: "";
          background-image: url(./images/gear_silver.svg);
          height: 50px;
          width: 50px;
          position: absolute;
          top: 25px;
          left: 5px;
          z-index: 1;
          background-color: transparent;
          background-repeat: no-repeat;
          animation: spin linear 10s infinite;
          -webkit-animation: spin linear 10s infinite;
     }
     
     &::after {
          content: "";
          background-image: url(./images/gear.svg);
          height: 50px;
          width: 50px;
          position: absolute;
          top: 0;
          left: 50px;
          z-index: 1;
          background-color: transparent;
          background-repeat: no-repeat;
          animation: spin-counter linear 10s infinite;
          -webkit-animation: spin-counter linear 10s infinite;
     }      
}


@keyframes spin {
     0% {
       transform: rotate(0deg);
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
}
     100% {
       transform: rotate(360deg);
       -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
       -ms-transform: rotate(360deg);
       -o-transform: rotate(360deg);
}
   }

@keyframes spin-counter {
     0% {
     transform: rotate(-5deg);
     -webkit-transform: rotate(-50deg);
     -moz-transform: rotate(-50deg);
     -ms-transform: rotate(-50deg);
     -o-transform: rotate(-50deg);
}
     100% {
     transform: rotate(-355deg);
     -webkit-transform: rotate(-355deg);
     -moz-transform: rotate(-355deg);
     -ms-transform: rotate(-355deg);
     -o-transform: rotate(-355deg);
}
}

.summary{
     grid-column: 2/4;
     grid-row: 2/3;
     background-image: url("/images/AdobeStock_441304415\ \(1\).jpeg");
     padding-left: 2%;
     border-radius: 2%;
     border: #bb9430 double;
     border-top: none;
     -webkit-border-radius: 2%;
     -moz-border-radius: 2%;
     -ms-border-radius: 2%;
     -o-border-radius: 2%;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     position: absolute;
     &::before {
          content: "";
          background-image: url(./images/gear.svg);
          height: 50px;
          width: 50px;
          position: absolute;
          zoom: 2;
          top: 40px;
          left: -48px;
          background-color: transparent;
          background-repeat: no-repeat;
          animation: spin-counter linear 10s infinite;
          -webkit-animation: spin-counter linear 10s infinite;
     }
 
     &::after {
          content: "";
          background-image: url(./images/gear_silver.svg);
          height: 50px;
          width: 50px;
          position: absolute;
          zoom: 1.5;
          top: 110px;
          left: -25px;
          background-color: transparent;
          background-repeat: no-repeat;
          animation: spin linear 10s infinite;
          -webkit-animation: spin linear 10s infinite;
     }     
}

// fixes some weird black dots that were on the word CSS due to our font
abbr[title] {
     text-decoration: none;
 }

.preamble{
     grid-column: 1/5;
     grid-row: 4/5;
     background-image: url("/images/AdobeStock_441304415\ \(1\).jpeg");
     padding: 2%;
     border-radius: 2%;
     border: #bb9430 double;
}
.main {
     grid-column: 1/4;
     grid-row: 2/5;
     background-image: url("/images/AdobeStock_441304415\ \(1\).jpeg");
     padding: 2%;
     border-radius: 2%;
     border: #bb9430 double;
     position: relative;
     &::before {
          content: "";
          background-image: url(./images/gear.svg);
          height: 50px;
          width: 50px;
          position: absolute;
          zoom: 1.75;
          top: -20px;
          left: -30px;
          background-color: transparent;
          background-repeat: no-repeat;
          animation: spin-counter linear 10s infinite;
          -webkit-animation: spin-counter linear 10s infinite;
     }
}



aside {
     grid-column: 4/5; 
     grid-row: 2/3;
     text-align: right;
     background-image: url("/images/AdobeStock_441304415\ \(1\).jpeg");
     padding: 2%;
     border-radius: 2%;
     border: #bb9430 double;
     position: relative;
   &::before {
     content: "";
     background-image: url(./images/gear.svg);
     height: 50px;
     width: 50px;
     position: absolute;
     zoom: 1.5;
     bottom: -20px;
     left: -30px;
     background-color: transparent;
     background-repeat: no-repeat;
     animation: spin-counter linear 10s infinite;
     -webkit-animation: spin-counter linear 10s infinite;
}
&::after {
     content: "";
     background-image: url(./images/gear.svg);
     height: 50px;
     width: 50px;
     position: absolute;
     zoom: 1.75;
     bottom: -52px;
     left: 0px;
     background-color: transparent;
     background-repeat: no-repeat;
     animation: spin linear 10s infinite;
     -webkit-animation: spin linear 10s infinite;
}
     .wrapper {
          position: relative;
          &::before {
               content: "";
               background-image: url(./images/gear_silver.svg);
               height: 50px;
               width: 50px;
               position: absolute;
               zoom: 1;
               bottom: -135px;
               left: 63px;
               background-color: #0000;
               background-repeat: no-repeat;
               animation: spin-counter linear 10s infinite;
               -webkit-animation: spin-counter linear 10s infinite;
          }
          &::after {
               content: "";
               background-image: url(./images/gear_silver.svg);
               height: 50px;
               width: 50px;
               position: absolute;
               zoom: 2;
               bottom: -31px;
               left: 26px;
               background-color: #0000;
               background-repeat: no-repeat;
               animation: spin-counter linear 10s infinite;
               -webkit-animation: spin-counter linear 10s infinite;
          }
     }
     
}

}
}