@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$color-1: #8d3e14; // Cornflower Blue - Action color
$color-2: #bb9430; // Dark Blue
$color-3: #86001e; // Red
$color-4: #58667a; // light grey
$color-5: rgb(48, 47, 47); // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: 'Oldenburg', cursive;
$secondary-font: 'Monoton', cursive;

/* -------------------------------- 

xBackground 

-------------------------------- */

@import 'partials/background';

/* -------------------------------- 

xPatterns

-------------------------------- */

@import 'partials/patterns';

/* -------------------------------- 

xNavigation 

-------------------------------- */

@import 'partials/navigation';

/* -------------------------------- 

xPage title 

-------------------------------- */

@import 'partials/page-title';

/* -------------------------------- 

xTypography 

-------------------------------- */

@import 'partials/typography';

/* -------------------------------- 

xButtons 

-------------------------------- */

@import 'partials/buttons';

/* -------------------------------- 

xIcons 

-------------------------------- */

@import 'partials/icons';

/* -------------------------------- 

xForm 

-------------------------------- */

@import 'partials/form';

@import 'partials/basic-style';
